{{#with owner}}
<h1>Welcome {{username}}!</h1>
<p>What would you like to do?</p>
<p><a href="/owner/profile/{{this._id}}/myprofile">See your profile</a></p>
<p><a href="/owner/projects/myprojects">See your projects</a></p>
<p><a href="/projects">See all projects</a></p>
<p><a href="/owner/{{this._id}}/projects/create">Create a project</a></p>
{{/with}}