<h2>Edit your profile</h2>

{{!-- to do: insert dynamic ID in route once model is created: --}}
{{!-- to do: make some fields optional to fill out --}}

<form action="/owner/profile/myprofile" method="POST">

    <label for="nameOrg">Name of your organisation: </label>
    <input type="nameOrg" name="nameOrg" id="nameOrg">

    <label for="firstName">First Name: </label>
    <input type="firstName" name="firstName" id="firstName">

    <label for="lastName">Last Name: </label>
    <input type="lastName" name="lastName" id="lastName">

    <label for="email">E-mail address: </label>
    <input type="email" name="email" id="email">

    <label for="website">Website: </label>
    <input type="website" name="website" id="website" placeholder="optional">

    <label for="location">Your location: </label>
    <input type="location" name="location" id="location" placeholder="city, country">

    <label for="languages">Languages: </label>
    <input type="languages" name="languages" id="languages" placeholder="Enter languages you speak">

    <label for="description">Description: </label>
    <textarea name="description" id="description" rows="4" cols="40"
        placeholder="Please describe yourself or your institution in a few sentences.">
    </textarea>

    <label for="category">Category: </label>
    <select name="category" id="category">
        <option value="NGO">NGO</option>
        <option value="individual">Individual</option>
        <option value="association">Association</option>
        <option value="startup">Startup</option>
        <option value="education">Educational institution</option>
        <option value="social">Social Services</option>
        <option value="company">Company</option>
        <option value="other">other</option>
    </select>

    <button type="submit">Edit</button>

</form>