<h1>Your profile</h1>

{{name}}

<p><a href="/owner/profile/edit">Edit your profile</a></p>
<p><a href="/owner/projects/myprojects">See your projects</a></p>
<p><a href="/projects">See other projects</a></p>