<h1>Welcome web developer!</h1>
<p>What would you like to do?</p>
<p><a class="btn" href="/webdev/profile/{{webdev._id}}/myprofile">See your profile</a></p>
<p><a class="btn" href="/webdev/{{webdev._id}}/myprojects">See your projects</a></p>
<p><a class="btn" href="/webdev/{{webdev._id}}/projects">Find a project</a></p>