<h2>Your profile, web developer</h2>

{{!-- render profile via web dev ID here --}}


<p><a href="/webdev/profile/{{ developer._id}}/edit">Edit your profile</a></p>
<p><a href="/webdev/myprojects/{{ developer._id}}/">See your projects</a></p>
<p><a href="/projects">Find a project</a></p>