<head>
    <link rel="stylesheet" href="/stylesheets/styles-home.css" />
</head>

<div class="homepage-container">
<nav class="navbar">
    <a class="btn login-btn" href="/login">Log in</a>
</nav>

    <header class="flex-container header-container">
        <img class="header-img" src="images/homepage-header.jpg" alt="collaboration header image">

        <p class="header-quote">Connect with people all over the world <br> and collaborate remotely!</p>

    </header>
<div class="intro-section">


    <h1>Welcome to web volunteer!</h1>

    <div class="flex-container">

        <div class="intro-box">
            <h2>Are you a web developer seeking to volunteer?</h2>
            <p>Do you want to uplevel your skills, build up your portfolio, or you simply want to donate your skills and
                time to
                society? This platform gives you the opportunity to help others anywhere in the world while training
                your skills
                building something useful.</p>

            <a class="btn" href="/signup/webdev">Sign up as a web developer!</a>
        </div>


        <div class="intro-box">
            <h2>Do you have a project and need a web developer to volunteer?</h2>
            <p>Whether you are an NGO, a school, or an individual and need help with your website - on this platform you
                can
                find web developers seeking to volunteer, ready to donate their time and skills to help you.</p>

            <a class="btn" href="/signup/owner">Sign up as a project owner!</a>
        </div>

    </div>
    </div>

   


</div>