<h1>Welome to web volunteer!</h1>

<div class="homepage-box">
    <h2>Are you a web developer seeking to volunteer?</h2>
    <p>Do you want to uplevel your skills, build up your portfolio, or you simply want to donate your skills and time to
        society? This platform gives you the opportunity to help others anywhere in the world while training your skills
        building something useful.</p>

    <a href="/signup/webdev">Sign up as a web developer!</a>
</div>


<div class="homepage-box">
    <h2>Do you have a project and need a web developer to volunteer?</h2>
    <p>Whether you are an NGO, a school, or an individual and need help with your website - on this platform you can
        find web developers seeking to volunteer, ready to donate their time and skills to help you.</p>

    <a href="/signup/owner">Sign up as a project owner!</a>
</div>

<hr>

<a href="/login">Log in</a>