<h2>Sign Up</h2>
{{#if owner}} 
<form action="/signupOwner" method="POST">
{{else}}
<form action="/signupWebDev" method="POST">
{{/if}}
  <label for="username">Username</label>
  <input type="text" name="username" required>
  <label for="">Password</label>
  <input type="password" name="password" required>
  <button type="submit">Sign Up</button>
</form>
{{#if message}}
  <p style='color: red'>{{message}}</p>
{{/if}}