<head>
  <link rel="stylesheet" href="/stylesheets/style-loginsignup.css" />
</head>

<div class="login-container flex-container">

  <h1>Sign Up</h1>
  <div class="flex-container">

    {{#if owner}}
    <form action="/signupOwner" method="POST">
      {{else}}
      <form action="/signupWebDev" method="POST">
        {{/if}}
        <div class="signup-field">
          <label for="username">Username:</label>
          <input type="text" name="username" required>
        </div>
        <div class="signup-field">
          <label for="">Password:</label>
          <input type="password" name="password" required>
        </div>
        <div class="signup-field">
          <label for="email">E-mail: </label>
          <input type="email" name="email" id="email" required>
        </div>
        <br>
        <div>
          <button class="btn" type="submit">Sign Up</button>
        </div>
      </form>
  </div>
  {{#if message}}
  <p style='color: red'>{{message}}</p>
  {{/if}}
<br><br><br>
  <a class="btn back-btn" href="/">Back to homepage</a>
</div>