body {
  background: url(../images/worldmap.jpg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  overflow-y: hidden;
}

.login-container {
  background-color: rgb(203 235 232 / 94%);
  border-radius: 25px;
  flex-direction: column;
  padding: 20px;
  margin: 17px;
}

.login-container input {
 font-size: 16px;
  padding: 7px;
  margin: 8px;
}

.login-btn {
  display: none;
}

.navbar {
  display: none;
}

footer {
  display: none;
}
