body {
  background: url(../images/worldmap.jpg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
}



.login-container {
     background-color: rgb(203 235 232 / 94%);
border-radius: 25px;
  flex-direction: column;
 padding: 20px;
}
